# .travis.yml
language: node_js
node_js:
  - "9"
# Hexo source 코드는 source branch에서 작업되고 있어야합니다.
branches:
  only:
    - master
install:
  - npm install
# 주의: 'YOUR NAME'와 'YOUR EMAIL'를 변경해야합니다.
before_script:
  - git config --global user.name 'ddalpange'
  - git config --global user.email 'ddalpange@gmail.com'
  - sed -i "s/__GITHUB_TOKEN__/${__GITHUB_TOKEN__}/" _config.yml
# 블로그를 빌드 후 배포합니다.
script:
  - hexo clean
  - hexo generate
  - hexo deploy
